<div class="container espaco-baixo">
  <div class="titulo">
    <h1>{{ editando ? 'Edição de' : 'Novo' }} Fornecedor</h1>
  </div>

  <form #f="ngForm">
    <mat-card class="card">
      <mat-card-header class="titulo-card">
        Preencha o formulário para cadastrar um Fornecedor
      </mat-card-header>

      <mat-card-content class="card">
        <div class="col-md-8">
          <mat-form-field class="col-md-8" style="margin-top: 30px;">
            <input matInput placeholder="Nome" [(ngModel)]="fornecedor.nome" name="nome" required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Tipo Serviço" [(ngModel)]="fornecedor.tipo" name="tipo" required>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input matInput placeholder="CPNJ" [(ngModel)]="fornecedor.cnpj" name="cnpj" required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="col-md-3">
            <input matInput placeholder="Celular" [(ngModel)]="fornecedor.celular" name="celular" required>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input matInput placeholder="Telefone" [(ngModel)]="fornecedor.telefone" name="telefone">
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input matInput placeholder="CEP" [(ngModel)]="fornecedor.cep" name="cep" required>
          </mat-form-field>
        </div>

        <div class="col-md-10">
          <mat-form-field class="col-md-4">
            <mat-select placeholder="Estado" [(ngModel)]="fornecedor.estado" name="estado">
              <mat-option *ngFor="let est of estados" [value]="est.value">
                {{est.view}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-5">
            <input matInput placeholder="Cidade" [(ngModel)]="fornecedor.cidade" name="cidade" required>
          </mat-form-field>
        </div>

        <div class="col-md-10">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Endereço" [(ngModel)]="fornecedor.endereco" name="endereco" required>
          </mat-form-field>
        </div><br>

        <div class="col-md-12">
          <mat-form-field class="col-md-4">
            <input matInput placeholder="Banco" [(ngModel)]="fornecedor.banco" name="banco" required>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput placeholder="Agência" [(ngModel)]="fornecedor.agencia" name="banco" required>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput placeholder="Conta" [(ngModel)]="fornecedor.conta" name="conta" required>
          </mat-form-field>
        </div><br>

      </mat-card-content>

      <mat-card-actions>
        <div>
          <button type="submit" (click)="salvar()" mat-raised-button class="botao-padrao botao-verde">
            Salvar<mat-icon style="margin-bottom:4px; margin-left: 7px;">send</mat-icon>
          </button>

          <a class="botao-link" style="margin-left: 10px;" mat-button color="primary" routerLink="/fornecedor">Voltar
            para Pesquisa</a>
        </div>
      </mat-card-actions>

    </mat-card>
  </form>


</div>