a.botao-link {
    text-decoration: none;
}

.fofura:focus{
    outline: 0px;
}

mat-toolbar {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}