<div class="parallax">
        <mat-card class="fofura" style="width: 90%">
            <mat-card-header>
                <mat-card-title>ChurchOS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2 class="texto">Sistema para a gestão de Igrejas, com o intuito de melhorar a administração dos
                    membros da
                    mesma, conta com
                    gestão Financeira, e uma parte dedicada ao grupo de Louvor!
                </h2>
            </mat-card-content>
            <mat-card-actions>
               
            </mat-card-actions>
        </mat-card>

</div>

<div style="height:100vh;background-color:white;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax-mac"></div>