<div class="ui-g">

    <div class="ui-g-offset-1">
        <h1 class="titulo-ng">Células Cadastradas</h1>
    </div>

    <p-dataView class="ui-g-10 ui-g-offset-1" #dv [value]="celulas" [paginator]="true" [rows]="5" paginatorPosition="both"
        filterBy="nome">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <a pButton type="button" label="Nova Célula" icon="fa fa-plus" routerLink="/celulas/nova" class="ui-button-rounded ui-button-success"></a>
                    </div>
                    <div class="ui-g-1"></div>

                    <div class="ui-g-6 ui-md-4 filter-container">
                        <div style="position:center">
                            <input type="search" pInputText placeholder="Procurar pelo Nome" (keyup)="dv.filter($event.target.value)">
                        </div>
                    </div>
                    <div class="ui-g-6 ui-md-3" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-celula pTemplate="listItem">
            <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="http://3.bp.blogspot.com/_KT0UvU7k5lE/TMroAPq0aNI/AAAAAAAABDY/fiDNGMtone8/s1600/mda_heart.png">
                </div>
                <div class="ui-g-12 ui-md-8 car-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Nome: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{celula.nome}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Líder: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{celula.lider.nome}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Auxiliar: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{celula.auxiliar}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Dia: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{celula.dia}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Horário: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{celula.horario}}</b></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-1 search-icon" style="margin-top: 20px;">
                    <button pButton type="button" icon="pi pi-search" (click)="showDialog(celula)" pTooltip="Detalhes"
                        tooltipPosition="left" style="margin-top: 5px;"></button><br>
                    <button pButton type="button" icon="fa fa-users" class="ui-button-success" pTooltip="Membros"
                        tooltipPosition="right" (click)="showDialogMembros(celula)" style="margin-top: 5px;"></button><br>
                    <button pButton type="button" icon="fa fa-pencil" class="ui-button-warning" pTooltip="Editar"
                        tooltipPosition="left" [routerLink]="['/celulas', celula.id]" style="margin-top: 5px;"></button><br>
                    <button pButton type="button" icon="fa fa-trash" class="ui-button-danger" pTooltip="Excluir"
                        tooltipPosition="right" (click)="confirmarExclusao(celula.id)" style="margin-top: 5px;"></button>
                </div>
            </div>
        </ng-template>
        <ng-template let-celula pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
                <p-panel [header]="celula.nome" [style]="{'text-align':'center'}">
                    <img src="http://3.bp.blogspot.com/_KT0UvU7k5lE/TMroAPq0aNI/AAAAAAAABDY/fiDNGMtone8/s1600/mda_heart.png"
                        width="60">
                    <div class="celula">{{celula.lider.nome}} - {{celula.horario}}</div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <button pButton type="button" icon="pi pi-search" (click)="showDialog(celula)" style="margin-top:0; margin-right: 5px"
                        pTooltip="Detalhes" tooltipPosition="bottom"></button>
                    <button pButton type="button" icon="fa fa-users" class="ui-button-success" pTooltip="Membros"
                        tooltipPosition="bottom" (click)="showDialogMembros(celula)" style="margin-right: 5px;"></button>
                    <button pButton type="button" icon="fa fa-pencil" class="ui-button-warning" pTooltip="Editar"
                        tooltipPosition="bottom" [routerLink]="['/celulas', celula.id]" style="margin-right: 5px;"></button>
                    <button pButton type="button" icon="fa fa-trash" class="ui-button-danger" pTooltip="Excluir"
                        tooltipPosition="bottom" (click)="confirmarExclusao(celula.id)"></button>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog header="Endereço da Célula" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
        width="400" (onAfterHide)="onDialogHide()" appendTo="body">
        <div class="ui-g" *ngIf="celulaSelecionada">
            <div class="ui-g-12" style="text-align:center">
                <img src="http://3.bp.blogspot.com/_KT0UvU7k5lE/TMroAPq0aNI/AAAAAAAABDY/fiDNGMtone8/s1600/mda_heart.png">
            </div>
            <div class="ui-g-4">Nome: </div>
            <div class="ui-g-8">{{celulaSelecionada.nome}}</div>

            <div class="ui-g-4">CEP: </div>
            <div class="ui-g-8">{{celulaSelecionada.cep}}</div>

            <div class="ui-g-4">Estado: </div>
            <div class="ui-g-8">{{celulaSelecionada.estado}}</div>

            <div class="ui-g-4">Cidade: </div>
            <div class="ui-g-8">{{celulaSelecionada.cidade}}</div>

            <div class="ui-g-4">Logradouro: </div>
            <div class="ui-g-8">{{celulaSelecionada.logradouro}}</div>

            <div class="ui-g-4">Número: </div>
            <div class="ui-g-8">{{celulaSelecionada.numero}}</div>

        </div>
    </p-dialog>


    <p-dialog [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" width="800" 
    (onAfterHide)="onDialogHide()" appendTo="body">
        <p-header *ngIf="celulaMembros">
            Membros da Célula {{celulaMembros.nome}}
        </p-header>
        <div class="ui-g" *ngIf="celulaMembros">
            <div class="ui-g-12" style="text-align:center">
                <img src="http://3.bp.blogspot.com/_KT0UvU7k5lE/TMroAPq0aNI/AAAAAAAABDY/fiDNGMtone8/s1600/mda_heart.png">
            </div>
            <div class="ui-g" style="margin-left: 240px;">
                <h3 style="color: blue; font-family: 'Varela Round', sans-serif">Membros: {{celulaMembros.nome}}</h3>
                <button pButton type="button" class="ui-button-success" label="Novo Membro"
                 style="margin-bottom: 10px; margin-left: 30px;" [routerLink]="['/celulas', celulaMembros.id]"></button>
            </div>
            <p-table [value]="celulaMembros.membros">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data Nasc.</th>
                        <th>Celular</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pessoa>
                    <tr>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.cpf}}</td>
                        <td>{{pessoa.dataNascimento}}</td>
                        <td>{{pessoa.celular}}</td>
                        <td>
                            <button pButton type="button" class="ui-button-danger" icon="fa fa-trash" style="margin-left: 50px"
                                pTooltip="Excluir" tooltipPosition="right"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </p-dialog>

</div>